[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==3.1.*"
django-glrm = "==1.1.*"
django-markupfield = "==2.0.*"
django-picklefield = "==3.0.*"
django-debug-toolbar = "==3.0.*"
django-countries = "==6.1.*"
django-mptt = "==0.11.*"

bcoding = "==1.5.*"

Markdown = "==3.3.*"

[requires]
python_version = "3.10"
