{% extends 'base.html' %}

{% load units %}

{% block title %}
    {% if artist %}
        Torrent for '{{ release_group.name }}' < {{ artist.name }} < Music
    {% else %}
        Torrent for '{{ release_group.name }}' < Music
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'torrent/music/breadcrumb.html' %}

    <h2>{{ release_group.name }} <span class="small">:: Torrent</span></h2>

    <div id="torrent-info-container">
        <div class="grid-table" id="torrent-info-pane">
            <div class="row header">
                <div class="tc" style="grid-column: 1 / span 2;">Info</div>
            </div>

            <div class="row">
                <div class="tb">Uploader:</div>
                <div><a href="{% url 'account:profile_view' pk=torrent.uploader.pk %}">{{ torrent.uploader }}</a></div>
            </div>

            <div class="row">
                <div class="tb">Date:</div>
                <div>{{ torrent.upload_datetime }}</div>
            </div>

            <div class="row">
                <div class="tb">Format:</div>
                <div>{{ torrent.get_encode_format_display }}</div>
            </div>

            <div class="row">
                <div class="tb">Size:</div>
                <div>{{ torrent.torrent_size|IEC_80000_13 }}</div>
            </div>
        </div>

        <div class="grid-table" id="torrent-operations-pane">
            <div class="row header">
                <div class="tc" style="grid-column: 1 / span 2;">Operations</div>
            </div>

            <div class="row"><div><a href="{% url 'torrent:music_torrent_download' pk=torrent.pk %}">Download</a></div></div>
            <div class="row"><div>Freeleech</div></div>
            <div class="row"><div><a href="{% url 'torrent:music_torrent_edit' pk=torrent.pk %}">Edit</a></div></div>
            <div class="row"><div><a href="{% url 'torrent:music_torrent_delete' pk=torrent.pk %}">Delete</a></div></div>
            <div class="row"><div>Report</div></div>
        </div>

        <div class="grid-table" id="torrent-stats-pane">
            <div class="row header">
                <div class="tc" style="grid-column: 1 / span 2;">Stats</div>
            </div>

            <div class="row">
                <div class="tb">Seeders:</div>
                <div>{{ torrent.get_num_seeders }}</div>
            </div>

            <div class="row">
                <div class="tb">Leechers:</div>
                <div>{{ torrent.get_num_leechers }}</div>
            </div>

            <div class="row">
                <div class="tb">Downloads:</div>
                <div>{{ torrent.downloads.count }}</div>
            </div>
        </div>
    </div>

    <h3>File List</h3>

    {% include 'torrent/music/torrent/as_file_list.html' with file_list=torrent.torrent_files %}

    <h3>Swarm</h3>

    {% include 'torrent/music/torrent/as_table_peer_list.html' %}
{% endblock %}
