{% extends 'base.html' %}

{% load units %}

{% block title %}
	Torrent for '{{ release_group.name }}'
{% endblock %}

{% block content %}
	{% include 'torrent/music/breadcrumb.html' %}
	
	<h2>Torrent for release group '{{ release_group.name }}'</h2>
	
	<div class="vertical-split">
		<div class="table-container" style="width: 100%;">
			<table style="width: 100%;">
				<thead>
					<tr><th colspan="2">Info</th></tr>
				</thead>
				
				<tbody>
					<tr><td>Uploader:</td> <td class="tr width-100"><a href="{% url 'account:profile_view' pk=torrent.uploader.pk %}">{{ torrent.uploader }}</a></td></tr>
					<tr><td>Date:</td>     <td class="tr width-100">{{ torrent.upload_datetime }}</td></tr>
					<tr><td>Format:</td>   <td class="tr width-100">{{ torrent.get_encode_format_display }}</td></tr>
					<tr><td>Size:</td>     <td class="tr width-100">{{ torrent.torrent_size|IEC_80000_13 }}</td></tr>
				</tbody>
			</table>
		</div>
		
		<div class="vertical-separator hide-horizontal">
			<div class="line"></div>
		</div>
		
		<div class="table-container" style="width: 100%;">
			<table style="width: 100%;">
				<thead>
					<tr><th colspan="2">Stats</th></tr>
				</thead>
				
				<tbody>
					<tr><td>Seeders:</td>   <td class="tr width-100">-</td></tr>
					<tr><td>Leechers:</td>  <td class="tr width-100">-</td></tr>
					<tr><td>Downloads:</td> <td class="tr width-100">{{ torrent.downloads.count }}</td></tr>
				</tbody>
			</table>
		</div>
		
		<div class="vertical-separator hide-horizontal">
			<div class="line"></div>
		</div>
		
		<div class="table-container" style="width: 100%;">
			<table style="width: 100%;">
				<thead>
					<tr><th colspan="2">Operations</th></tr>
				</thead>
				
				<tbody>
					<tr><td><a href="{% url 'torrent:music_torrent_download' pk=torrent.pk %}">Download</a></td></tr>
					<tr><td>Freeleech</td></tr>
					<tr><td><a href="{% url 'torrent:music_torrent_edit' pk=torrent.pk %}">Edit</a></td></tr>
					<tr><td><a href="{% url 'torrent:music_torrent_delete' pk=torrent.pk %}">Delete</a></td></tr>
					<tr><td>Report</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<h3>File List</h3>
	
	{% include 'torrent/music/torrent/as_file_list.html' with file_list=torrent.torrent_files %}
	
	<h3>Swarm</h3>
	
	{% include 'torrent/music/torrent/as_table_peer_list.html' %}
{% endblock %}
