{% extends 'base.html' %}

{% load static %}

{% block title %}
    Release for release group '{{ release.release_group.name }}'
{% endblock %}

{% block content %}
    {% include 'torrent/music/breadcrumb.html' %}
    
    <h2>Release for release group '{{ release.release_group.name }}'</h2>
    
    <div class="split three-col no-horizontal-lines">
        <div class="item1">
            <table id="torrent-info-table">
                <thead>
                    <tr><th colspan="2">Info</th></tr>
                </thead>
                
                <tbody>
                    <tr><td>Date:</td>           <td class="tr width-100">{{ release.date }}</td></tr>
                    <tr><td>Label:</td>          <td class="tr width-100">{{ release.label }}</td></tr>
                    <tr><td>Catalog Number:</td> <td class="tr width-100">{{ release.catalog_number }}</td></tr>
                    <tr><td>Format:</td>         <td class="tr width-100">{{ release.get_release_format_display }}</td></tr>
                </tbody>
            </table>
        </div>
        
        <div class="line1">
            <div class="line"></div>
        </div>
        
        <div class="item2">
            <table id="torrent-operations-table">
                <thead>
                    <tr><th>Operations</th></tr>
                </thead>
                
                <tbody>
                    <tr><td>Subscribe to Release</td></tr>
                    <tr><td><a href="{% url 'torrent:music_release_edit' release.pk %}">Edit Release</a></td></tr>
                    <tr><td><a href="{% url 'torrent:music_release_delete' release.pk %}">Delete Release</a></td></tr>
                    <tr><td><a href="{% url 'torrent:music_torrent_add' %}?release={{ release.pk }}">Add Torrent</a></td></tr>
                    <tr><td><a href="{% url 'torrent:music_upload' %}?release={{ release.pk }}">Upload Torrent</a></td></tr>
                </tbody>
            </table>
        </div>
        
        <div class="line2">
            <div class="line"></div>
        </div>
        
        <div class="item3">
            <table id="torrent-album-art-table">
                <thead>
                    <tr><th>Album Art</th></tr>
                </thead>
                
                <tbody>
                    <tr><td><img src="{% static 'img/blank-album-cover.svg' %}"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <h3>Torrents</h3>
    
    <div class="table-container">
        <table class="torrent-listings">
            <thead>
                <tr>{% include 'torrent/music/torrent/as_table_header.html' %}</tr>
            </thead>
            
            <tbody>
                {% for torrent in release.torrents.all %}
                    <tr>{% include 'torrent/music/torrent/as_table_data.html' %}</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
