/******************************************************************************/
/* Torrent tables *************************************************************/
/******************************************************************************/
/* Used on: */
/* `torrent/music/artist/view` */
/* `torrent/music/release_group/view` */
/* `torrent/music/release/view` */
/* `torrent/music/torrent/view` */

table.torrent-listings {
    white-space: nowrap;
}

/*
 * Make the tables grow as much as they can, inside separator3.
 */
table#torrent-artists-table, table#torrent-info-table,
table#torrent-operations-table, table#torrent-stats-table,
table#torrent-album-art-table, table#torrent-artist-portrait-table {
    width: 100%;
}

/*
 * Disable text wrapping on the label column, and make the data column
 * expand as much as it can.
 */
table#torrent-info-table > tbody > tr > td:nth-of-type(1) {
    white-space: nowrap;
}

table#torrent-info-table > tbody > tr > td:nth-of-type(2) {
    width: 100vw;
}

/*
 * Make images as big as they can be on big screens, but constrain their size
 * on small screens.
 */
table#torrent-album-art-table img, table#torrent-artist-portrait-table img {
    width: 100%;
}

@media (max-width: 66rem) {
    table#torrent-album-art-table img, table#torrent-artist-portrait-table img {
        width: 15rem;
    }
}

/******************************************************************************/
/* Forum tables ***************************************************************/
/******************************************************************************/
/* Used on: `forum/category/view` */

table.forum-listings {
    white-space: nowrap;
}

/******************************************************************************/
/* Torrent upload page ********************************************************/
/******************************************************************************/
/* Used on: `torrent/music/upload` */

.split.torrent-upload-form > .item2 > .selector > label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.split.torrent-upload-form {
    grid-template-columns: 1fr 0.5fr 1fr;
}

@media (max-width: 66rem) {
    .split.torrent-upload-form {
        grid-template-columns: 1fr;
    }
}

/******************************************************************************/
/* User Inbox *****************************************************************/
/******************************************************************************/
/* Used on: `inbox/thread/view` */

#inbox-messages {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    margin: 1rem 0rem;
}

#inbox-messages .item {
    display: grid;
    column-gap: 1rem;
}

/* Display the message on the right-hand side for sent messages */
#inbox-messages .item.sent {
    grid-template-columns: minmax(10px, 1fr) 3fr;
    grid-template-areas: "author message";
}

/* Display the message on the left-hand side for received messages */
#inbox-messages .item.received {
    grid-template-columns: 3fr minmax(10px, 1fr);
    grid-template-areas: "message author";
}

#inbox-messages .item .message-author {
    grid-area: author;
    align-self: top;

    display: flex;
    flex-direction: column;
}

#inbox-messages .item .message-body {
    grid-area: message;

    padding: 0rem 1rem;

    border: 1px solid var(--dark-background);
    background-color: var(--element-background);
}

#inbox-messages .item .message-datetime {
    text-align: right;
}

#inbox-messages .item.sent .message-author {
    text-align: right;
}

#inbox-messages .item.received .message-author {
    text-align: left;
}

/******************************************************************************/
/* Forum tables ***************************************************************/
/******************************************************************************/
/* Used on: `forum/index` and `forum/category/view` */

.grid-table.forum {
    grid-template-columns: minmax(15rem, 6fr) minmax(15rem, 4fr) max-content max-content;
}

.grid-table.forum .row {
    grid-column: 1 / 5;
}

@media (max-width: 55rem) {
    .grid-table.forum {
        grid-template-columns: minmax(10rem, 6fr) minmax(10rem, 4fr);
    }

    .grid-table.forum .row {
        grid-column: 1 / 3;
    }

    .grid-table.forum .hidden-small-screens {
        display: none;
    }
}

/******************************************************************************/
/* Release Group **************************************************************/
/******************************************************************************/
.release-group-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "artists info operations art";
    gap: 1rem;
}

@media (max-width: 66rem) {
    .release-group-info {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "artists info" "operations art";
    }
}

@media (max-width: 33rem) {
    .release-group-info {
        grid-template-columns: 1fr;
        grid-template-areas: "artists" "art" "info" "operations";
    }
}
