/******************************************************************************/
/* Main site body centering/container class ***********************************/
/******************************************************************************/

.center-max-width {
    max-width: var(--site-width);

    margin-left:  auto;
    margin-right: auto;

    padding: 1rem;

    box-sizing: border-box;
}

main.center-max-width {
    padding-top:    0rem;
    padding-bottom: 0rem;
}

@media (max-width: 55rem) {
    .center-max-width {
        padding: 0.75rem;
    }
}

@media (max-width: 33rem) {
    .center-max-width {
        padding: 0.50rem;
    }
}

/******************************************************************************/
/* Vertical split container with separator lines ******************************/
/******************************************************************************/

/* Usage: must specify `.split .two-col` or `.split .three-col` */

.split {
    display: grid;
    width: 100%;
    margin: 1rem 0rem;
}

.split > .item1 { grid-area: item1; }
.split > .item2 { grid-area: item2; }
.split > .item3 { grid-area: item3; }
.split > .line1 { grid-area: line1; }
.split > .line2 { grid-area: line2; }

.split.two-col {
    grid-template-rows: max-content;
    grid-template-columns: 1fr 2.5rem 1fr;
    grid-template-areas: "item1 line1 item2";
}

.split.three-col {
    grid-template-rows: max-content;
    grid-template-columns: 1fr 2.5rem 1fr 2.5rem 1fr;
    grid-template-areas: "item1 line1 item2 line2 item3";
}

/*----------------------------------------------------------------------------*/
/* Separator lines */
/*----------------------------------------------------------------------------*/

.split > .line1,
.split > .line2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    opacity: 0.5;
}

.line1 > .line,
.line2 > .line {
    background-color: var(--dark-background);
    width: 1px;
    height: 100%;
}

/*----------------------------------------------------------------------------*/
/* Text in the separator lines */
/*----------------------------------------------------------------------------*/

.line1 > .text,
.line2 > .text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: var(--dark-background);

    line-height: 3rem;
}

@media (max-width: 66rem) {
    .line1 > .text,
    .line2 > .text {
        width: 8rem;
        text-align: center;
    }
}

/*----------------------------------------------------------------------------*/
/* Reflowing on small screens */
/*----------------------------------------------------------------------------*/

@media (max-width: 66rem) {
    .split.two-col {
        grid-template-rows: min-content 2.5rem min-content ;
        grid-template-columns: 1fr;
        grid-template-areas: "item1" "line1" "item2";
    }

    .split.three-col {
        grid-template-rows: min-content 2.5rem min-content 2.5rem min-content;
        grid-template-columns: 1fr;
        grid-template-areas: "item1" "line1" "item2" "line2" "item3";
    }

    .split > .line1,
    .split > .line2 {
        flex-direction: row;
    }

    .split > .line1 > .line,
    .split > .line2 > .line {
        height: 1px;
        width: 100%;
    }

    /* Mix-in to disable the display of lines when in horizontal flow mode for small screens */
    .split.two-col.no-horizontal-lines {
        grid-template-rows: min-content 1.5rem min-content;
        grid-template-columns: 1fr;
        grid-template-areas: "item1" "." "item2" ".";
    }
    .split.three-col.no-horizontal-lines {
        grid-template-rows: min-content 1.5rem min-content 1.5rem min-content;
        grid-template-columns: 1fr;
        grid-template-areas: "item1" "." "item2" "." "item3";
    }
}

/******************************************************************************/
/* Table using CSS grid *******************************************************/
/******************************************************************************/

/* To use this, you need to set `grid-template-columns` in `.grid-table` to an
 * appropriate value, like:
 *
 * .grid-table {
 *     grid-template-columns: 1fr max-content max-content max-content;
 * }
 *
 * And then set `grid-column` in `.grid-table .row` to an appropriate value,
 * like:
 *
 * .grid-table .row {
 *     grid-column: 1 / 5;
 * }
 *
 */

.grid-table {
    display: grid;
    gap: 1px;
    margin: 1rem 0rem;
}

.grid-table .row {
    display: grid;
    grid-template-columns: subgrid;

    background-color: var(--element-background);
}

.grid-table .row.header {
    background-color: var(--medium-background);
    font-weight: bold;
}

.grid-table .row.highlight {
    background-color: var(--highlight);
}

.grid-table .row > * {
    padding: 0.5rem;
    box-shadow: 0 0 0 1px #000;
}
