/******************************************************************************/
/* Global *********************************************************************/
/******************************************************************************/

* { box-sizing: border-box; }

/******************************************************************************/
/* Colours ********************************************************************/
/******************************************************************************/

:root {
    --green: #2ED573;
    --red: #FF4757;
    --blue: #70a1ff;
    
    --yellow: #fbc02d;
    --orange: #fb8c00;
    
    --active: #FFB700;
    --highlight: #FFB700;
    
    --form-element-background: #FDFDFD;
    --form-element-background-disabled: #DFE4EA;
    --form-element-border: #A4B0BE;
    --form-element-box-shadow: rgba(0, 0, 0, 0.1);
    
    --white-background:   #FFFFFF; /* blank space outside of the website */
    --light-background:   #DFE4EA; /* background that contains the actual website */
    --element-background: #F1F2F6; /* e.g.: unique elements that comprise the page content (like tables or user-contributed text) */
    --medium-background:  #858E9D; /* e.g.: subheaders underneath the main headers, and table headers */
    --dark-background:    #2F3542; /* e.g.: main headers and <h1-5> elements, plus all borders */
    
    --font-color: #2F3542;
    --font-color-inverted: #FFFFFF;
    --font-color-inverted-background: #2F3542;
    --font-color-disabled: #9E9E9E;
    
    --site-width: 66rem;
}

/******************************************************************************/
/* Typography *****************************************************************/
/******************************************************************************/

/*----------------------------------------------------------------------------*/
/* Selection */
/*----------------------------------------------------------------------------*/

::selection {
    color: var(--font-color-inverted);
    background-color: var(--highlight);
}

/*----------------------------------------------------------------------------*/
/* h1/h2/h3/h4/h5 */
/*----------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
    color: var(--font-color-inverted);
    background-color: var(--font-color-inverted-background);
    font-weight: bold;
}

h1 { font-size: 2.00rem; margin: 1.75rem 0rem; }
h2 { font-size: 1.75rem; margin: 1.75rem 0rem; }
h3 { font-size: 1.50rem; margin: 1.50rem 0rem; }
h4 { font-size: 1.25rem; margin: 1.50rem 0rem; }
h5 { font-size: 1.00rem; margin: 1.50rem 0rem; }

/*----------------------------------------------------------------------------*/
/* Links */
/*----------------------------------------------------------------------------*/

a {
    text-decoration: none;
    color: var(--font-color);
    box-shadow: inset 0px -0.20rem 0px var(--font-color);
}

a:hover, a:focus {
    color: var(--font-color-inverted);
    background-color: var(--highlight);
}

a:focus {
    outline: none;
}

header a, footer a {
    color: var(--font-color-inverted);
    background-color: var(--font-color-inverted-background);
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Lists */
/*----------------------------------------------------------------------------*/

ul, ol {
    padding-left: 2rem;
}

ul {
    list-style: square;
}

/******************************************************************************/
/* Body ***********************************************************************/
/******************************************************************************/

body {
    font-family: sans-serif;
    color: var(--font-color);
    
    margin: 0rem;
    
    background-color: #f1f2f6;
    background-image: url("../img/backgrounds/heropatterns/topography.svg");
    
    /* 
     * Safari-specific override to stop the text size changing
     * when the device orientation is changed (!!!).
     */
    -webkit-text-size-adjust: 100%;
}

/******************************************************************************/
/* Header *********************************************************************/
/******************************************************************************/

/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/

#header-container {
    background-color: var(--dark-background);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

/* Left-justify (instead of right-justify) for small screens. */
@media (max-width: 66rem) {
    header {
        justify-content: flex-start;
    }
}

/*----------------------------------------------------------------------------*/
/* Header: Logo */
/*----------------------------------------------------------------------------*/

header h1 {
    margin: 0rem;
}

header h1 a {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

header #header-logo-image {
    height: 5rem;
}

/* 
 * Don't display the logo text on small screens
 * in order to save horizontal space.
 */
@media (max-width: 66rem) {
    header h1 #header-logo-text {
        display: none;
    }
}

/* 
 * On very small screens, things will start flowing
 * vertically, so we have horizontal space available now.
 * 
 * Display the logo text again, but shrink the font size, and
 * also reduce the size of the logo image to match.
 */
@media (max-width: 44rem) {
    header h1 #header-logo-text {
        display: unset;
    }
    
    header #header-logo-image {
        height: 3rem;
    }
    
    header h1 {
        font-size: 1.5rem;
    }
}

/*----------------------------------------------------------------------------*/
/* Header: Links */
/*----------------------------------------------------------------------------*/
/* Right side of the header containing site nav and user bar */

#header-links {
    display: grid;
    row-gap: 0.5rem;
}

/* Divider inbetween items  */
#header-links .divider {
    width: 1px;
    background-color: #858E9D;
}

/*----------------------------------------------------------------------------*/
/* Header: Site nav (containing links to torrents, upload page, forum, etc) */
/*----------------------------------------------------------------------------*/

header #header-site-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.50rem;
    column-gap: 0.50rem;
}

/* Links */
header #header-site-nav a {
    font-size: 1.25rem;
    white-space: nowrap;
}

/* Shrink the font size for very small screens. */
@media (max-width: 44rem) {
    header #header-site-nav a {
        font-size: 1rem;
    }
}

/*----------------------------------------------------------------------------*/
/* Header: User bar (containing stuff like ratio and inbox) */
/*----------------------------------------------------------------------------*/

header #header-user-bar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.50rem;
    
    color: var(--font-color-inverted);
    
    justify-self: end;
}

header #header-user-bar a {
    font-weight: normal;
}

/* Left-justify (instead of right-justify) for small screens. */
@media (max-width: 66rem) {
    header #header-user-bar {
        justify-self: start;
    }
}

/* Shrink the font size for very small screens. */
@media (max-width: 44rem) {
    header #header-user-bar {
        font-size: 0.80rem;
    }
}

/******************************************************************************/
/* Main ***********************************************************************/
/******************************************************************************/

main {
    background-color: var(--light-background);
    
    /*
     * Don't ask me how this works, but we want child elements with a margin to
     * expand the dimensions of this (the parent) element.
     * 
     * If we don't have this, there is a gutter on the top and bottom of main,
     * between the header and footer.
    */
    display: flow-root;
}

/******************************************************************************/
/* Miscellaneous navigation ***************************************************/
/******************************************************************************/

/*----------------------------------------------------------------------------*/
/* Breadcrumb navigation */
/*----------------------------------------------------------------------------*/

nav.breadcrumb {
    margin: 1rem 0rem;
}

/*----------------------------------------------------------------------------*/
/* h2/h3 underbar */
/*----------------------------------------------------------------------------*/
/* 
 * Intended to display commonly reoccurring links to actions specific to the page
 * being displayed, such as a "Edit profile" link when displaying a user profile.
 */
 
 h2.with-nav, h3.with-nav { margin-bottom: 0rem }

 nav.subheader-nav { 
     margin-top: 0rem;
     margin-bottom: 1.75rem;
     
     text-align: right;
     
     display: block;
     
     background-color: var(--medium-background);
 }

/******************************************************************************/
/* Article ********************************************************************/
/******************************************************************************/

/* Used to contain user biographies and site news. */
article {
    border: 1px solid var(--dark-background);
    background-color: var(--element-background);
    margin: 1rem 0rem;
    padding: 0rem 1rem;
}

/******************************************************************************/
/* Footer *********************************************************************/
/******************************************************************************/

footer {
    background-color: var(--dark-background);
    color: var(--font-color-inverted);
}

/******************************************************************************/
/* Tables *********************************************************************/
/******************************************************************************/

.table-container {
    overflow: auto; /* Make a scrollbar appear on small screens */
    margin: 1rem 0rem;
}

table {
    border-collapse: collapse;
}

/*
 * Give standard rows a background colour.
 * 
 * Ignore spacer rows so that they still have an unset
 * (transparent) background colour.
 */
 tr:not(.conjoined-table-spacer) {
    background-color: var(--element-background);
}

/* 
 * Give the the first row in the header section
 * of each table a darker background to stand out.
 */
thead > tr:first-of-type {
    background-color: var(--medium-background);
}

/* Give every cell a border and a little bit of padding */
td, th {
    border: 1px solid var(--dark-background);
    padding: 0.5rem;
}

/* 
 * Remove the border on spacer rows as the spacer is intended to be invisible.
 * Give the spacer rows more space.
 */
tr.conjoined-table-spacer > th {
    border-width: 0px;
    padding: 0.5rem;
}

/*----------------------------------------------------------------------------*/
/* Handy mix-ins */
/*----------------------------------------------------------------------------*/

tr.highlight {
    background-color: var(--highlight);
}

tr.error {
    background-color: var(--red);
    color: var(--font-color-inverted);
}

th.tl, td.tl { text-align:   left; }
th.tc, td.tc { text-align: center; }
th.tr, td.tr { text-align:  right; }

th.width-100, td.width-100 {
    width: 100vw;
}
