html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;

    background-color: #F1F2F6;
    background-image: url("/static/img/backgrounds/heropatterns/bank-note.svg");
}

h1 {
    margin-top: 0rem;
}
