{% extends 'base.html' %}

{% block title %}
    Search Music
{% endblock %}

{% block content %}
    <h2>Search</h2>
    
    <h3>Query</h3>
    
    <form method="get">
        {% include 'form-as-table.html' %}
        
        <div class="button-container">
            <button type="submit">Search</button>
        </div>
    </form>
    
    {% if model_name == "artist" %}
        <h3>Artists</h3>
        
        {% if page.object_list %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for artist in page.object_list %}
                            <tr>
                                <td><a href="{{ artist.get_absolute_url }}">{{ artist }}</a></td>
                                <td>{{ artist.get_artist_type_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
    
    {% if model_name == "release_group" %}
        <h3>Release Groups</h3>
        
        {% if page.object_list %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for release_group in page.object_list %}
                            <tr>
                                <td><a href="{{ release_group.get_absolute_url }}">{{ release_group.name }}</a></td>
                                <td>{{ release_group.get_group_type_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
    
    {% include 'pagination.html' %}
{% endblock %}
