{% extends 'base.html' %}

{% block title %}
	Edit account '{{ target_user.username }}'
{% endblock %}

{% block content %}
	<h2>Edit account '{{ target_user.username }}'</h2>
	
	<h3>Username</h3>
	
	{% with form=username_form %}
		{% if form.errors %}
			<p class="error">Error processing the username. The invalid fields are marked below.</p>
		{% endif %}
		
		<form method="post">
			{% csrf_token %}
			
			<input type="hidden" name="form_type" value="username_form">
			
			{% include 'form-as-table.html' %}
			
			<div class="button-container">
				<button type="submit">Change Username</button>
			</div>
		</form>
	{% endwith %}
	
	<h3>Email</h3>
	
	{% with form=email_form %}
		{% if form.errors %}
			<p class="error">Error processing the email. The invalid fields are marked below.</p>
		{% endif %}
		
		<form method="post">
			{% csrf_token %}
			
			<input type="hidden" name="form_type" value="email_form">
			
			{% include 'form-as-table.html' %}
			
			<div class="button-container">
				<button type="submit">Change Email</button>
			</div>
		</form>
	{% endwith %}
	
	<h3>Password</h3>
	
	{% with form=password_form %}
		{% if form.errors %}
			<p class="error">Error processing the password. The invalid fields are marked below.</p>
		{% endif %}
		
		<form method="post">
			{% csrf_token %}
			
			<input type="hidden" name="form_type" value="password_form">
			
			{% include 'form-as-table.html' %}
			
			<div class="button-container">
				<button type="submit">Change Password</button>
			</div>
		</form>
	{% endwith %}
	
	<h3>Torrent Passkey</h3>
{% endblock %}
