{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if artist %}
        {{ release_group.name }} < {{ artist.name }} < Music
    {% else %}
        {{ release_group.name }} < Music
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'torrent/music/breadcrumb.html' %}

    <h2>{{ release_group.name }} <span class="small">:: Release Group</span></h2>

    <div id="release-group-page-container">
        <div id="release-group-info-container">
            <div class="grid-table" id="release-group-artists-pane">
                <div class="row header">
                    <div class="tc" style="grid-column: 1 / span 2;">Contributions</div>
                </div>

                <div class="row">
                    <div class="tb">Artist:</div>
                    <div class="tb">Role:</div>
                </div>

                {% for contribution in release_group.contributions.all %}
                    <div class="row">
                        <div class="ellipsis"><a href="{% url 'torrent:music_artist_view' pk=contribution.artist.pk %}">{{ contribution.artist.name }}</a></div>
                        <div>{{ contribution.get_contribution_type_display }}</div>
                    </div>
                {% endfor %}
            </div>

            <div class="grid-table" id="release-group-info-pane">
                <div class="row header">
                    <div class="tc" style="grid-column: 1 / span 2;">Info</div>
                </div>

                <div class="row">
                    <div class="tb">First Release:</div>
                    <div class="tr"></div>
                </div>

                <div class="row">
                    <div class="tb">Type:</div>
                    <div class="tr">{{ release_group.get_group_type_display }}</div>
                </div>
            </div>

            <div class="grid-table" id="release-group-operations-pane">
                <div class="row header">
                    <div class="tc" style="grid-column: 1 / span 2;">Operations</div>
                </div>

                <div class="row"><div>Subscribe to Release Group</div></div>
                <div class="row"><div><a href="{% url 'torrent:music_release_group_edit' release_group.pk %}">Edit Release Group</a></div></div>
                <div class="row"><div><a href="{% url 'torrent:music_release_group_delete' release_group.pk %}">Delete Release Group</a></div></div>
                <div class="row"><div><a href="{% url 'torrent:music_release_group_edit_contributions' release_group.pk %}">Edit Contributions</a></div></div>
                <div class="row"><div><a href="{% url 'torrent:music_release_add' %}?release_group={{ release_group.pk }}">Add Release</a></div></div>
                <div class="row"><div><a href="{% url 'torrent:music_upload' %}?release_group={{ release_group.pk }}">Upload Release</a></div></div>
            </div>

            <div class="grid-table" id="release-group-art-pane">
                <div class="row header">
                    <div class="tc" style="grid-column: 1 / span 2;">Album Art</div>
                </div>

                <div class="row">
                    <div id="art-container">
                        <img src="{% static 'img/blank-album-cover.svg' %}">
                    </div>
                </div>
            </div>
        </div>

        <div id="release-group-release-container">
            <h3>Releases</h3>

            {% include 'torrent/music/release_group/as_table_without_album_header.html' %}
        </div>
    </div>
{% endblock %}
