{% load humanize %}

<div class="grid-table forum">
    <div class="row header">
        <div>
            {% if category_title_override %}
                {{ category_title_override }}
            {% else %}
                {% if category.folder %}
                    {{ category.title }}
                {% else %}
                    <a href="{% url 'forum:category_view' pk=category.pk %}">{{ category.title }}</a>
                {% endif %}
            {% endif %}
        </div>
        <div>Latest Post</div>
        <div class="hidden-small-screens">Threads</div>
        <div class="hidden-small-screens">Posts</div>
    </div>

    {% for category in category.children.all %}
        <div class="row">
            <div>
                {% if category.folder %}
                    {{ category.title }}
                {% else %}
                    <a href="{% url 'forum:category_view' pk=category.pk %}">{{ category.title }}</a>
                {% endif %}

                {% if category.children.all %}
                    <div style="font-size: 0.8rem; margin-top: 0.5rem">
                        Subcategories:
                        {% for child in category.children.all %}
                            <a href="{% url 'forum:category_view' pk=child.pk %}">{{ child.title }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                {% if category.latest_post_thread is None %}
                    {% include 'none.html' %}
                {% else %}
                    <div class="ellipsis">
                        <a href="{% url 'forum:thread_view' pk=category.latest_post_thread.pk %}#{{ category.latest_post_thread.post_count }}">#{{ category.latest_post_thread.post_count }}</a>
                        in <a href="{% url 'forum:thread_view' pk=category.latest_post_thread.pk %}">{{ category.latest_post_thread.title }}</a>
                    </div>

                    <div class="ellipsis">
                        by <a href="{% url 'account:profile_view' pk=category.latest_post_thread.latest_post_author.pk %}">{{ category.latest_post_thread.latest_post_author }}</a>
                        {{ category.latest_post_thread.latest_post_datetime|naturaltime }}
                    </div>
                {% endif %}
            </div>

            <div class="hidden-small-screens">{{ category.thread_count }}</div>
            <div class="hidden-small-screens">{{ category.post_count }}</div>
        </div>
    {% endfor %}
</div>
