{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load define %}

{% block title %}
	Inbox
{% endblock %}

{% block content %}
	<h2 class="with-nav">Inbox</h2>
	<nav class="subheader-nav">
		<a href="{% url 'inbox:thread_create' %}">Compose New Thread</a>
	</nav>
	
	<div class="grid-table">
		<div class="row header">
			<div class="dynamic">Title</div>
			<div class="fixed">Author</div>
			<div class="fixed">Last Message</div>
		</div>
		
		{% for thread in threads %}
			{% if thread.sender == user and thread.sender_unread_messages > 0 %}
				{% define "highlight" as highlight %}
			{% elif thread.receiver == user and thread.receiver_unread_messages > 0 %}
				{% define "highlight" as highlight %}
			{% endif %}
			
			<div class="row {{ highlight }}">
				<div class="dynamic">
					<a href="{% url 'inbox:thread_view' pk=thread.pk %}">{{ thread.title }}</a>
				</div>
				
				<div class="fixed">
					{{ thread.sender }}
				</div>
				
				<div class="fixed">
					{{ thread.latest_message_datetime }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
